 
body {max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    line-height: 1.7; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

          
header {
    background-color: #f0d0d0;
    color: #ba5959;
    text-align: center;
    padding: 20px;
}


nav {
    background-color: #c79d9d;
    color: #eb9c9c;
        padding: 30px;
        text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flexbox;
    justify-content: center;

}

nav a:hover {
    color:#f8dfdf;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


nav a:hover {
    color: white;
}


section {
    padding: 20px;
    margin: 10px;
    background-color: #b28282;
    color: #ebd9d9;
    margin: 20px auto;
}


.projects {
    display: grid;        
    flex-wrap: wrap;      
    gap: 20px; 
    padding: 40px; 
    

}


.projects img {
    width: 30%;           
    border-radius: 10px;
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;  
}


footer {
    background-color: #ba5959;
    color: rgb(245, 240, 240);
    text-align: center;
    padding: 10px;
}